<div class="sb-style sb-centered">
    <p class="sb-large">🛫  VIEWS 🛬</h1>
    <p class="sb-small">
        Views is a trip every time.
        It’s a welcome surprise each time it lands in your inbox.
        Every edition is filled with interesting, thought-provoking eye and brain candy from the corners of the web.
        It’s not the news news; you can get that elsewhere.
        It’s a collection of unique, compelling articles that give you interesting things to talk about.
        In the time it takes to ride an elevator, we’ll make your life richer.
    </p>
    <div>
        <input type="text" placeholder="Your Email" aria-label="Your Email">
        <span>
            <button type="button">Subscribe!</button>
        </span>
    </div>
</div>
