body {
    background-color: rgba(0, 0, 0, 0) !important;
}

html {
    background: url(http://gdurl.com/EtwI) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.sb-style {
    color: #ffffff;
}

.sb-large {
    font-family: "Futura";
    font-size: 32px;
}

.sb-small {
    font-family: "Courier New";
    font-size: 16px;
}

.sb-centered {
    padding-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
